[Desktop Entry]
Categories=System;
Comment=Debian Plymouth Manager
Comment[ca]=Debian Plymouth Manager
Comment[nl]=Debian Plymouth Manager
Exec=/usr/bin/debian-plymouth-manager
GenericName=
Icon=/usr/share/debian-plymouth-manager/logo.png
MimeType=
Name=Debian Plymouth Manager
Name[ca]=Debian Plymouth Manager
Name[nl]=Debian Plymouth Manager
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
