Source: debian-plymouth-manager
Section: admin
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper (>= 9)
  , python
  , intltool
X-Python-Version: >= 2.7
Standards-Version: 3.9.5
Vcs-Git: git://github.com/SolydXK/debian-plymouth-manager.git
Vcs-Browser: https://github.com/SolydXK/debian-plymouth-manager

Package: debian-plymouth-manager
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
  , python (>= 2.7), python (<< 3)
  , python-gtk2
  , python-glade2
  , plymouth
Conflicts: solydxk-locale
Replaces: solydxk-locale
Description: Debian Plymouth Manager.

