Source: debian-plymouth-manager
Section: admin
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Build-Depends: debhelper (>= 9)
  , python3 (>= 3.2)
  , intltool
X-Python3-Version: >= 3.2
Standards-Version: 3.9.5
Vcs-Git: git://github.com/SolydXK/debian-plymouth-manager.git
Vcs-Browser: https://github.com/SolydXK/debian-plymouth-manager

Package: debian-plymouth-manager
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
  , python3
  , python3-gi
  , gir1.2-gtk-3.0
  , plymouth
  , hwinfo
Conflicts: solydxk-locale
Replaces: solydxk-locale
Recommends: plymouth-themes
Description: Debian Plymouth Manager.

