Package: dpm
Version: 2.0.0
Architecture: all
Maintainer: Schoelje <schoelje@schoelje.nl>
Installed-Size: 74
Depends: plymouth, plymouth-drm (>= 0.8.5.1-5), plymouth-x11
Breaks: debian-plymouth-manager
Replaces: debian-plymouth-manager
Provides: dpm
Section: admin
Priority: optional
Description: Debian Plymouth Manager.
